<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="FontPath" value="e:\Projects\Socialist_2012\SportMaster\SportMaster\fonts\"/>
    <add key="ImagesPath" value="e:\Projects\Socialist_2012\SportMaster\SportMaster\Genegated\"/>

    <add key="appid" value="4167193"/>
    <add key="appsecret" value="8xze0eswhKqvSbPrTEoe"/>
  </appSettings>
  <connectionStrings>
    <add name="sportmasterConnectionString" connectionString="Data Source=LUCKY-PC;Initial Catalog=sportmaster;User ID=sa;Password=1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>